@import "@/styles/imports";

.header {
	width: calc(100% - 16rem);
	position: fixed;
	top: 3.7rem;
	left: 8rem;
	z-index: 3;
	.nav {
		width: 100%;
		padding: 1.2rem 4rem;
		transition: $all-transition;
		background-color: rgba(#ffffff33, 0.2);
		border: 0.2rem solid rgba(#ffffff33, 0.3);
		border-radius: 20rem;
		backdrop-filter: blur(2rem);
		@include flex(space-between, center);
		gap: 1rem;
		max-width: $max-width;
		margin-inline: auto;
	}
	.small_row {
		@include flex(flex-start, center);
		gap: 1.6rem;
		.text {
			h5 {
				@extend %text-16;
				font-weight: 700;
				color: $col-primary-darken2;
			}
		}
		.link_row {
			@include flex(flex-start, center);
			gap: 1rem;
			.icon {
				position: relative;
				width: 4.8rem;
				height: 4.8rem;
				padding: 0;
			}
		}
	}
	@include screenMax("mobile") {
		left: 1.6rem;
		width: calc(100% - 3.2rem);
		top: 4.7rem;
		.nav {
			padding: 1.6rem;
		}
		.small_row {
			.text {
				display: none;
			}
			.link_row {
				.icon {
					width: 3.2rem;
					height: 3.2rem;
				}
			}
		}
	}
}
