@import "@/styles/imports";

.hero {
	width: 100%;
	padding-inline: 9.9rem;
	padding-top: 21.4rem;
	padding-bottom: 18.2rem;
	@include flex(center, center);
	.container {
		@include flex(space-between, center);
		// gap: 1rem;
		width: 100%;
		max-width: $max-width;
		margin-inline: auto;
		.text_container {
			max-width: 62rem;
			.text {
				h1 {
					@extend %title-88;
					color: #0b0c0c;
					margin-bottom: 2.4rem;
				}
				p {
					@extend %text-16;
					color: #717477;
					max-width: 50.2rem;
				}
			}
			.link_row {
				@include flex(flex-start, center);
				gap: 1.2rem;
				margin-top: 4rem;
				a {
					background-color: #000000;
					border-radius: 10rem;
					@include flex(flex-start, center);
					overflow: hidden;
					padding-right: 1.6rem;
					.icon {
						position: relative;
						width: 4.8rem;
						height: 4.8rem;
					}
					p {
						@extend %text-16;
						color: #fff;
						font-family: $font-Outfit;
						font-weight: 600;
					}
				}
			}
		}
		.image_container {
			position: relative;
			z-index: 1;
			width: 62rem;
			height: 62rem;
			@include flex(flex-start, center, column);
			overflow: hidden;
			.phone_image__container {
				position: absolute;
				top: 0;
				left: calc(50% - 18.75rem);
				width: 37.5rem;
				height: 56rem;
				flex-shrink: 0;
				z-index: 0;
				.phone_image {
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
			.map_image__container {
				position: relative;
				width: 100%;
				height: 46.1rem;
				flex-shrink: 0;
				margin-top: auto;
				z-index: 1;
			}
		}
	}
	@include screenMax("tablet") {
		padding-inline: 1.6rem;
		padding-top: 14.4rem;
		padding-bottom: 5rem;
		height: auto;
		.container {
			justify-content: center;
			gap: 8rem;
			.text_container {
				.link_row {
					justify-content: center;
				}
			}
			.image_container {
				padding: 0;
				width: 100%;
				height: 35rem;
				.phone_image__container {
					width: 22rem;
					height: 32rem;
					left: calc(50% - 11rem);
				}
				.map_image__container {
					height: 25rem;
				}
			}
		}
	}
}
