@import "@/styles/imports";

.input {
	width: 100%;
	row-gap: 0.7rem;
	@include flex(flex-start, flex-start, column);
}

.input_label {
	@extend %text-12;
	color: $col-primary-lighten1;
	font-weight: 500;
}

.input_wrapper {
	position: relative;
	padding: 1rem 1.2rem;
	width: 100%;
	column-gap: 1rem;
	background-color: transparent;
	border: 0.1rem solid $col-grey-darken1;
	border-radius: 0.4rem;
	transition: all 0.1s ease-in;

	@include flex(flex-start, center, row nowrap);

	&:focus-within {
		transition: all 0.3s linear;
		// border-color: $col-gold-500;
	}
	&[data-disabled="true"] {
		background-color: $col-grey-lighten1;
		border-color: $col-grey-darken1;
		pointer-events: none;
	}
}

.input_icon {
	position: relative;
	// bottom: 0.3rem;
	width: 1.6rem;
	height: 1.6rem;
	flex-shrink: 0;
}

.input_field {
	all: unset;
	flex-grow: 1;
	height: 100%;
	font-size: 1.4rem;
	line-height: 2.5rem;
	font-weight: 500;
	font-family: $font;
	color: $col-primary-darken2;
	width: 100%;
	min-height: 2rem;
	&::placeholder {
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: $col-primary-lighten1;
	}
}

.icon {
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
	cursor: pointer;
	border: none !important;
	padding: none !important;
}

.row {
	@include flex(flex-start, center);
	gap: 0.8rem;
	.icon {
		cursor: default;
		.description {
			position: absolute;
			background-color: $col-grey-lighten1;
			padding: 1.6rem;
			border-radius: 1.2rem;
			bottom: 120%;
			left: 0;
			display: none;
			p {
				color: $col-primary-darken2;
				@extend %text-12;
			}
		}
		&:hover {
			.description {
				display: block;
			}
		}
	}
}
