@import "@/styles/imports";

.icon {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 4rem;
	height: 4rem;
	@extend %center;
	p {
		@extend %text-16;
		text-align: center;
		text-transform: capitalize;
		color: $col-grey-lighten1;
	}
}
