@import "@/styles/imports";

.smallLoader {
	@include flex(center, center, nowrap);
	width: 100%;
	height: 15rem;
	&:after {
		content: " ";
		display: block;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		border: 0.4rem solid $col-grey-lighten2;
		border-color: $col-grey-lighten2 transparent $col-grey-lighten2 transparent;
		animation: rotate 1.2s linear infinite;
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
