@import "@/styles/imports";

.works {
	margin-top: -10rem;
	padding: 25rem 8rem 15rem;
	background-color: $col-white;
	@include flex(center, center, column);
	border-bottom-left-radius: 8rem;
	border-bottom-right-radius: 8rem;
	width: 100%;
	z-index: 2;
	.container {
		max-width: $max-width;
		margin-inline: auto;
		width: 100%;
		.title {
			text-align: center;
			h1 {
				max-width: 61.9rem;
			}
			p {
				max-width: 38.9rem;
			}
		}
		.card_container {
			@include flex(flex-start, flex-start, column);
			gap: 5.6rem;
			margin-top: 5.6rem;
			.card {
				width: 100%;
				height: 67.3rem;
				position: relative;
				.image {
					position: relative;
					width: 94.7rem;
					height: 56rem;
					border-radius: 1.6rem;
					overflow: hidden;
					margin-left: auto;
				}
				.small_card,
				.mob_small_card {
					width: 42rem;
					border-radius: 5.6rem;
					height: 32rem;
					overflow: hidden;
					position: absolute;
					bottom: 0;
					right: 90rem;
					z-index: 1;
					padding: 4rem;
					background-color: #f6f7f7;
					.icon {
						width: 5.6rem;
						height: 5.6rem;
						border-radius: 50%;
						overflow: hidden;
						position: relative;
						margin-bottom: 2.4rem;
					}
					.text {
						h3 {
							font-size: 3rem;
							line-height: 4rem;
							color: #0b0c0c;
							margin-bottom: 0.8rem;
							font-weight: 700;
						}
						p {
							font-size: 2.1rem;
							line-height: 2.8rem;
							color: #717477;
						}
					}
				}
				.mob_small_card {
					display: none;
				}
			}
		}
	}
	@include screenMax("tablet") {
		padding: 10rem 1.6rem 5rem;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		.container {
			.card_container {
				.card {
					height: 25rem;
					.image {
						height: 20rem;
						width: calc(100% - 5rem);
					}
					.mob_small_card {
						width: 20rem;
						height: 17rem;
						left: 0rem;
						right: unset;
						display: block;
						border-radius: 2.4rem;
						padding: 1.6rem;
						.icon {
							width: 3.2rem;
							height: 3.2rem;
							margin-bottom: 1.6rem;
						}
						.text {
							h3 {
								font-size: 1.4rem;
								line-height: 1.8rem;
								margin-bottom: 0.8rem;
							}
							p {
								font-size: 1.2rem;
								line-height: 1.8rem;
							}
						}
					}
					.small_card {
						display: none;
					}
				}
			}
		}
	}
}
