@import "@/styles/imports";

.title {
	margin-bottom: 2.4rem;
	@include flex(center, center, column);
	.badge {
		@extend %text-16;
		color: #717477;
		font-weight: 400;
		margin-bottom: 2.4rem;
		background-color: #f6f7f7;
		border-radius: 10rem;
		padding: 0.8rem 2.4rem;
	}
	h1 {
		@extend %title-72;
		margin-bottom: 1.6rem;
		font-weight: 700;
		color: #0b0c0c;
	}
	p {
		color: #717477;
	}
}
