%btn {
	transition: all 0.2s ease-out;
	border: 0.1rem;
	border-style: solid;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1.2rem;
	background-color: transparent;
	padding: 1.2rem 2.4rem;
	gap: 0.8rem;
	&:hover {
		transform: scale(1.01);
		transition: $all-transition;
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
	@include screenMax("mobile") {
		padding: 1.2rem 2.4rem;
	}
}

%btn-primary {
	@extend %btn;
	border-radius: 0.4rem;
	background: $col-primary-darken2;
	border: none;
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
	color: $col-grey-lighten2;
}

%btn-secondary {
	@extend %btn;
	border-radius: 0.4rem;
	background-color: transparent;
	border-color: #6266f0;
}
%btn-transparent {
	@extend %btn;
	background-color: transparent;
	border-color: transparent;
}
