%text-24 {
	line-height: 100%;
	font-size: 2.4rem;
	@include screenMax("mobile") {
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

%text-20 {
	line-height: 2.8rem;
	font-size: 2rem;
	@include screenMax("mobile") {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
}

%text-18 {
	line-height: 2.7rem;
	font-size: 1.8rem;

	@include screenMax("mobile") {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}

%text-16 {
	line-height: 2.4rem;
	font-size: 1.6rem;
	@include screenMax("mobile") {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}

%text-14 {
	line-height: 2.4rem;
	font-size: 1.4rem;
	@include screenMax("mobile") {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}

%text-12 {
	line-height: 2rem;
	font-size: 1.2rem;
	@include screenMax("mobile") {
		font-size: 1rem;
		line-height: 1.6rem;
	}
}

%text-10 {
	line-height: 1.6rem;
	font-size: 1rem;
	@include screenMax("mobile") {
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
}
