%heading {
	font-weight: 700;
}

%title-88 {
	@extend %heading;
	line-height: 100%;
	font-size: 8.8rem;
	@include screenMax("tablet") {
		line-height: 100%;
		font-size: 5.6rem;
	}
}

%title-72 {
	@extend %heading;
	line-height: 100%;
	font-size: 7.2rem;
	@include screenMax("tablet") {
		line-height: 100%;
		font-size: 4rem;
	}
}

%title-56 {
	@extend %heading;
	line-height: 100%;
	font-size: 5.6rem;
	@include screenMax("tablet") {
		line-height: 100%;
		font-size: 3.2rem;
	}
}

%title-40 {
	@extend %heading;
	line-height: 100%;
	font-size: 4rem;
	@include screenMax("tablet") {
		line-height: 100%;
		font-size: 3.2rem;
	}
}

%title-32 {
	@extend %heading;
	line-height: 4.5rem;
	font-size: 3.2rem;
	@include screenMax("tablet") {
		line-height: 2.7rem;
		font-size: 1.8rem;
	}
}

%title-28 {
	@extend %heading;
	line-height: 3.6rem;
	font-size: 2.8rem;
}

%title-24 {
	@extend %heading;
	line-height: 3.2rem;
	font-size: 2.4rem;
}

%title-20 {
	@extend %heading;
	line-height: 2.4rem;
	font-size: 2rem;
}

%title-18 {
	@extend %heading;
	line-height: 2.4rem;
	font-size: 1.8rem;
}

%title-16 {
	@extend %heading;
	line-height: 2.4rem;
	font-size: 1.6rem;
}
