@import "@/styles/imports";

.footer {
	padding: 0 8rem 5.6rem;
	width: 100%;
	max-width: $max-width;
	margin-inline: auto;
	.footer_body {
		@include flex(space-between, center);

		.footer_logo {
			position: relative;
			width: 28rem;
		}
		.copyright {
			.text {
				p {
					@extend %text-16;
					color: #000;
				}
			}
			.image {
				position: relative;
				width: 10.9rem;
				height: 10.9rem;
			}
		}
		.footer_socials {
			@include grid(repeat(6, 4rem), 0.8rem);
			.icon {
				position: relative;
				width: 4rem;
				height: 4rem;
			}
		}
	}
	.hedera_logo {
		position: relative;
		width: 8.9rem;
		height: 4rem;
		margin-top: 2.4rem;
		margin-inline: auto;
	}
	@include screenMax("tablet") {
		padding: 0 1.6rem 4rem;
		.footer_body {
			flex-direction: column;
			align-items: center;
			gap: 2.4rem;
			.footer_logo {
				width: auto;
			}
		}
	}
}
