@import "@/styles/imports";

.footer {
	padding: 0 8rem 5.6rem;
	width: 100%;
	max-width: $max-width;
	margin-inline: auto;
	.footer_body {
		@include flex(space-between, center);
		.column {
			@include flex(flex-start, flex-start, column);
			.links {
				h3 {
					@extend %text-18;
					color: #0b0c0c;
					font-weight: 700;
					margin-bottom: 1.6rem;
				}
				ul {
					@include flex(flex-start, flex-start, column);
					gap: 1.6rem;
					li {
						a {
							@extend %text-16;
							color: #393a3c;
						}
					}
				}
			}
		}

		.footer_logo {
			position: relative;
			width: 28rem;
		}
		.copyright {
			margin-top: 1rem;
			.text {
				p {
					@extend %text-16;
					color: #000;
				}
			}
			.image {
				position: relative;
				width: 10.9rem;
				height: 10.9rem;
			}
		}
		.hedera_logo {
			position: relative;
			width: 8.9rem;
			height: 4rem;
			margin-top: 2.4rem;
		}
		.footer_socials {
			@include grid(repeat(6, 4rem), 0.8rem);
			margin-top: 2.4rem;
			.icon {
				position: relative;
				width: 4rem;
				height: 4rem;
			}
		}
	}
	@include screenMax("tablet") {
		padding: 0 1.6rem 4rem;
		.footer_body {
			flex-direction: column;
			align-items: flex-start;
			gap: 2.4rem;
			.footer_logo {
				width: auto;
			}
		}
	}
}
