@import "@/styles/imports";

.security {
	background-color: #564cd8;
	margin-top: -10rem;
	padding: 25rem 8rem 8rem;
	@include flex(center, center, column);
	border-bottom-left-radius: 8rem;
	border-bottom-right-radius: 8rem;
	width: 100%;
	z-index: 1;
	.container {
		max-width: $max-width;
		margin-inline: auto;
		width: 100%;
		gap: 1rem;
		.globe {
			position: relative;
			width: 69.8rem;
			height: 47rem;
			margin-bottom: 12.1rem;
			margin-inline: auto;
		}
		.button {
			margin-bottom: 2.4rem;
			margin-inline: auto;
			background-color: #675edc;
			color: $col-white;
		}
		.title_container {
			text-align: center;
			margin-inline: auto;
			width: 100%;
			@include flex(center, center, column);
			margin-block: 5rem 7rem;
			color: $col-white;
			h1 {
				@extend %title-72;
				margin-bottom: 1.6rem;
				max-width: 64.3rem;
			}
			p {
				@extend %text-16;
				max-width: 52.8rem;
			}
		}
		.card_row,
		.mobile_card_row {
			@include grid(repeat(3, 1fr), 2.4rem, 2.4rem);
			margin-top: 5.6rem;
			width: 100%;
			.card {
				width: 100%;
				border-radius: 2.4rem;
				overflow: hidden;
				position: relative;
				padding: 2.4rem;
				background-color: rgba(255, 255, 255, 0.05);
				.icon {
					width: 5.6rem;
					height: 5.6rem;
					border-radius: 50%;
					overflow: hidden;
					position: relative;
					margin-bottom: 2.4rem;
				}
				.text {
					h3 {
						@extend %text-24;
						color: $col-white;
						line-height: 3.2rem;
						margin-bottom: 1.6rem;
						font-weight: 700;
					}
					p {
						@extend %text-16;
						color: $col-white;
						line-height: 2.4rem;
					}
				}
			}
		}
		.mobile_card_row {
			display: none;
		}
	}
	@include screenMax("tablet") {
		padding: 20rem 1.6rem 5rem;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		.container {
			.globe {
				width: 29.5rem;
				height: 20rem;
			}
			.card_row {
				display: none;
			}
			.mobile_card_row {
				display: grid;
				grid-template-columns: 100%;
				.card {
					padding: 1.6rem;
					.icon {
						width: 3.2rem;
						height: 3.2rem;
						margin-bottom: 1.6rem;
					}
				}
				.text {
					h3 {
						font-size: 1.4rem;
						line-height: 1.8rem;
						margin-bottom: 0.8rem;
					}
				}
				p {
					font-size: 1.2rem;
					line-height: 1.8rem;
				}
			}
		}
	}
}
