@import "@/styles/imports";

.transactions {
	background-color: #564cd8;
	margin-top: -10rem;
	padding: 35rem 8rem 5.6rem;
	@include flex(center, center, column);
	border-bottom-left-radius: 8rem;
	border-bottom-right-radius: 8rem;
	width: 100%;
	.globe {
		position: relative;
		width: 69.8rem;
		height: 47rem;
		margin-bottom: 2.4rem;
	}
	.text_container {
		h2 {
			@extend %title-72;
			color: #fff;
			text-align: center;
		}
		h3 {
			@extend %title-40;
			color: #fff;
		}
		p {
			@extend %text-16;
			color: #fff;
			margin-top: 1.6rem;
		}
	}
	.max_width_64 {
		max-width: 64rem;
	}
	.card_container {
		@include grid(repeat(2, 1fr), 2.4rem, 2.4rem);
		margin-top: 8rem;
		width: 100%;
		max-width: $max-width;
		margin-inline: auto;
		.card {
			@include flex(center, flex-start, column);
			gap: 4rem;
			background-color: #675edc;
			border-radius: 6.4rem;
			padding: 5.6rem;
			width: 100%;
			overflow: hidden;
			&:nth-child(1) {
				grid-column: span 2;
				padding-right: 0;
				padding-bottom: 0;
				flex-direction: row;
				justify-content: space-between;
				.text_container {
					max-width: 56rem;
				}
				.image,
				.image_mob {
					position: relative;
					width: 65rem;
					height: 40rem;
				}
				.image_mob {
					display: none;
				}
			}
			&:nth-child(2) {
				.image {
					position: relative;
					width: 49.1rem;
					height: 18.2rem;
					margin-inline: auto;
				}
				.text_container {
					h3 {
						max-width: 41.1rem;
					}
				}
			}
			&:nth-child(3) {
				.text_container {
					h3 {
						max-width: 41.1rem;
					}
				}
				.image {
					position: relative;
					width: 38.4rem;
					height: 20.1rem;
					margin-inline: auto;
				}
			}
		}
	}
	@include screenMax("tablet") {
		padding: 20rem 1.6rem 1.6rem;
		.globe {
			width: 29.5rem;
			height: 20rem;
		}
		.card_container {
			grid-template-columns: 100%;
			.card {
				padding: 4rem 2.1rem;
				&:nth-child(1) {
					flex-direction: column;
					grid-column: span 1;
					.text_container {
						max-width: 100%;
					}
					.image {
						display: none;
					}
					.image_mob {
						width: 29.5rem;
						height: 20rem;
						display: block;
						margin-inline: auto;
					}
				}
				&:nth-child(2) {
					.image {
						width: 29.5rem;
						height: 10.5rem;
					}
				}
				&:nth-child(3) {
					.image {
						width: 29.5rem;
						height: 15.5rem;
					}
				}
			}
		}
	}
	@include screenMax("mobile") {
		.card_container {
			.card {
				&:nth-child(1) {
					.image_mob {
						width: 100%;
						height: 26rem;
					}
				}
			}
		}
	}
}
