@import "@/styles/imports";

.background {
	max-width: $max-width;
	margin-inline: auto;
	width: 100%;
	padding-block: 5.6rem 10rem;
	.background_container {
		position: relative;
		width: 100%;
		height: 76rem;
		overflow: hidden;
		border-radius: 8rem;
		padding: 4rem;
		.background_image {
			position: absolute;
			inset: 0;
			background-image: url("/images/send-money/background.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 0;
		}
		.overlay {
			content: "";
			position: absolute;
			inset: 0;
			z-index: 0;
			background: linear-gradient(
				0.26deg,
				rgba(0, 0, 0, 0.5) 2.42%,
				rgba(0, 0, 0, 0) 99.8%
			);
		}
		.text_block {
			height: 100%;
			@include flex(flex-end, center, column nowrap);
			width: 100%;
			position: relative;
			z-index: 1;
			.text {
				text-align: center;
				h3 {
					@extend %title-56;
					color: #fff;
					margin-bottom: 1.6rem;
					max-width: 47.1rem;
				}
				p {
					@extend %text-16;
					color: #fff;
					max-width: 66rem;
				}
			}
			.row {
				@include grid(repeat(3, 1fr), 1.6rem, 1rem);
				margin-top: 4rem;
				width: 100%;
				.card {
					backdrop-filter: blur(1rem);
					background-color: rgba(#ffffff, 0.1);
					width: 100%;
					border-radius: 4rem;
					@include flex(flex-start, center);
					gap: 2.4rem;
					padding: 2.4rem;
					.image {
						position: relative;
						width: 5.6rem;
						height: 5.6rem;
					}
					.text {
						h3 {
							@extend %title-24;
							color: #fff;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	@include screenMax("desktop") {
		padding-inline: 8rem;
	}
	@include screenMax("tablet") {
		padding-inline: 1.6rem;
		padding-block: 0 4rem;
		.background_container {
			position: relative;
			padding: 2.4rem;
			border-radius: 4rem;
			.text_block {
				.row {
					grid-template-columns: 100%;
					.card {
						padding: 1.6rem;
						gap: 1.6rem;
						.image {
							width: 3.2rem;
							height: 3.2rem;
						}
						.text {
							h3 {
								font-size: 1.6rem;
								line-height: 2.4rem;
							}
						}
					}
				}
			}
		}
	}
}
