@import "@/styles/imports";

.journey {
	background-color: #564cd8;
	margin-top: -10rem;
	padding: 25rem 8rem 8rem;
	@include flex(center, center, column);
	border-bottom-left-radius: 8rem;
	border-bottom-right-radius: 8rem;
	width: 100%;
	z-index: 3;
	.container {
		max-width: $max-width;
		margin-inline: auto;
		width: 100%;
		gap: 1rem;
		.button {
			margin-bottom: 4rem;
			margin-inline: auto;
			background-color: #675edc;
			color: $col-white;
		}
		.title_container {
			text-align: center;
			margin-inline: auto;
			width: 100%;
			@include flex(center, center, column);
			margin-block: 5rem 7rem;
			color: $col-white;
			h1 {
				@extend %title-72;
				margin-bottom: 1.6rem;
				max-width: 49.3rem;
			}
			p {
				@extend %text-16;
				max-width: 64.3rem;
			}
		}
		.card_container {
			width: 100%;
			padding: 4rem;
			border-radius: 6.4rem;
			background-color: #675edc;
			.row {
				@include flex(space-between, center);
				gap: 4rem;
				.card {
					width: 58rem;
					height: 56rem;
					border-radius: 1.6rem;
					overflow: hidden;
					position: relative;
				}
				.text {
					@include flex(flex-start, flex-start, column);
					gap: 1.6rem;
					max-width: 58rem;
					p {
						@extend %text-24;
						color: $col-white;
						line-height: 3.2rem;
					}
				}
			}
			.card_row {
				@include flex(center);
				gap: 4rem;
				margin-top: 4rem;
				height: 36.1rem;
				.card {
					width: 36rem;
					height: 24rem;
					border-radius: 2.4rem;
					overflow: hidden;
					position: relative;
					padding: 2.4rem;
					background-color: rgba(255, 255, 255, 0.05);
					.icon {
						width: 5.6rem;
						height: 5.6rem;
						border-radius: 50%;
						overflow: hidden;
						position: relative;
						margin-bottom: 2.4rem;
					}
					.text {
						h3 {
							@extend %text-24;
							color: $col-white;
							line-height: 3.2rem;
							margin-bottom: 1.6rem;
							font-weight: 700;
						}
						p {
							@extend %text-16;
							color: $col-white;
							line-height: 2.4rem;
						}
					}
				}
			}
		}
	}
	@include screenMax("tablet") {
		padding: 15rem 1.6rem 5rem;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		.container {
			.button {
				margin-bottom: 2.4rem;
			}
			.title_container {
				margin-bottom: 0;
			}
			.card_container {
				padding: 2.4rem;
				border-radius: 2.4rem;
				.row {
					.card {
						border-radius: 0.8rem;
						height: auto;
					}
					.text {
						p {
							font-size: 1.6rem;
							line-height: 2.2rem;
						}
					}
				}
				.card_row {
					@include flex(center, flex-start, column);
					gap: 2.4rem;
					height: auto;
					margin-top: 2.4rem;
					.card {
						width: 100%;
						height: auto;
						min-height: 20rem;
					}
				}
			}
		}
	}
}
