@import "@/styles/imports";

.background {
	max-width: $max-width;
	margin-inline: auto;
	width: 100%;
	padding-block: 5.6rem;
	.background_container {
		position: relative;
		width: 100%;
		height: 76rem;
		overflow: hidden;
		border-radius: 8rem;
		padding: 6.4rem;
		.background_image {
			position: absolute;
			inset: 0;
			background-image: url("/images/hero-background.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 0;
		}
		.text_block {
			height: 100%;
			@include flex(space-between, center, column nowrap);
			max-width: 56rem;
			position: relative;
			z-index: 1;
			.text {
				h3 {
					@extend %title-56;
					color: #fff;
				}
				p {
					@extend %text-24;
					color: #fff;
				}
			}
		}
	}
	@include screenMax("desktop") {
		padding-inline: 8rem;
	}
	@include screenMax("tablet") {
		padding-inline: 1.6rem;
		padding-block: 4rem;
		.background_container {
			position: relative;
			padding: 4rem 2.4rem;
			.overlay {
				content: "";
				position: absolute;
				inset: 0;
				z-index: 0;
				background: linear-gradient(
					85.55deg,
					rgba(0, 0, 0, 0.7) 3.61%,
					rgba(0, 0, 0, 0) 98.83%
				);
			}
		}
	}
}
