@import "@/styles/imports";

.hero {
	width: 100%;
	padding-inline: 9.9rem;
	padding-top: 23.7rem;
	padding-bottom: 7rem;
	overflow: hidden;
	border-bottom-left-radius: 8rem;
	border-bottom-right-radius: 8rem;
	z-index: 4;
	position: relative;
	background-color: $col-white;
	.container {
		gap: 1rem;
		width: 100%;
		max-width: $max-width;
		margin-inline: auto;
		.button {
			margin-bottom: 4rem;
			margin-inline: auto;
			color: #717477;
		}
		.text {
			max-width: 80rem;
			margin-inline: auto;
			h1,
			span {
				@extend %title-88;
				font-weight: 400;
				color: #717477;
				text-align: center;
			}
			span {
				font-weight: 700;
				color: #0b0c0c !important;
			}
		}
		.card_container {
			width: calc(100% + 19.8rem);
			height: 50rem;
			margin-left: -20.9rem;
			position: relative;
			overflow: visible;
			padding-top: 20rem;
			.cards {
				position: relative;
				width: 100%;
				height: 100%;
				.card {
					position: absolute;
					background-color: #f6f7f7;
					border-radius: 2.4rem;
					padding: 2.4rem;
					width: 20rem;
					height: 26rem;
					left: 50%;
					top: 0;
					@include flex(space-between, center, column);
					transform-origin: center center;
					.title {
						h3 {
							@extend %title-24;
							color: #000;
						}
						p {
							@extend %text-14;
							color: #717477;
						}
					}
				}
			}
		}
		.title_container {
			text-align: center;
			margin-inline: auto;
			width: 100%;
			@include flex(center, center, column);
			margin-block: 5rem 20rem;
			h1 {
				@extend %title-72;
				color: #0b0c0c;
				margin-bottom: 1.6rem;
				max-width: 53.7rem;
			}
			p {
				color: #717477;
				@extend %text-16;
				max-width: 36.1rem;
			}
		}
	}
	@include screenMax("tablet") {
		padding-inline: 1.6rem;
		padding-top: 15rem;
		padding-bottom: 5rem;
		border-bottom-left-radius: 4rem;
		border-bottom-right-radius: 4rem;
		.container {
			.button {
				margin-bottom: 2.4rem;
			}
			.card_container {
				padding-top: 5rem;
			}
			.title_container {
				margin-top: 0;
			}
		}
	}
}
